@tailwind base;
@tailwind components;
@tailwind utilities;

/* Used in Tailwind Design Tokens MDX*/
.color-swatch {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid #e0e0e0;
    color: white;
    font-weight: bold;
}
